{% extends 'base.html' %}

{% block content %}
<a href="{% url 'list' %}" class="btn btn-info btn-lg" tabindex="-1" role="button" aria-disabled="true">クエスト一覧へ</a>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label>
            インプット学習 : <input type="number" name="input" placeholder="インプット学習時間を入力" required>
        </label>
    </div>
    <div>
        <label>
            アウトプット学習 : <input type="number" name="output" placeholder="アウトプット学習時間を入力" required>
        </label>
    </div>
    <div>
        <input type="submit" value="攻撃する!!">
    </div>
</form>
{% endblock content %}